// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,400italic,600,600italic,900);


//Variables
$body-font: 'Source Sans Pro', sans-serif;
$body-color: #8797af;
$ip-orange-color: #ffa300;

// Styles
body {
  font-family: $body-font;
  font-weight: normal;
  background: #ecedf2;
  color: $body-color;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

.navbar-main{
	li{
		a{
			text-transform: uppercase;
			font-size:12px;
			font-weight:600;
			color: $body-color;
			padding: 22px 20px;
			&:hover, &:active{
				color:$ip-orange-color;
				background: none;
			}
		}
	}
}

.navbar-email{
	a{
		color: #fff;
		&:hover, &:active{
			text-decoration: none;
		}
	}
	span.icon-chevron-thin-down{
		color:$ip-orange-color;
		font-size:10px;
		font-weight:200;
	}
	span.glyphicon-user {
	  color: RGB(228, 228, 228);
	  font-size: 22px;
	  top:6px;
	  padding:5px;
	  background-color: RGB(216, 216, 216);
	  border-radius: 5px;
	  margin-right:4px;
	  font-weight: 200; }
}

.nav-pills > li {
	> a {
	color: #8797AF;
	text-transform:uppercase;
	font-size: 12px;
	margin: 0 0 7px 0;
	padding: 5px 20px;
	font-weight: 400;
	}
	
	// Hover effect on tab
	> a:before {
	  content: "";
	  position: absolute;
	  width: 100%;
	  height: 2px;
	  bottom: -2px;
	  left: 0;
	  background-color: $ip-orange-color;
	  visibility: hidden;
	  -webkit-transform: scaleX(0);
	  transform: scaleX(0);
	  -webkit-transition: all 0.3s ease-in-out 0s;
	  transition: all 0.3s ease-in-out 0s;
	}
	> a:hover:before {
	  visibility: visible;
	  -webkit-transform: scaleX(1);
	  transform: scaleX(1);
	}
}

.nav-pills > li > a:hover, .nav-pills > li.active > a:hover, .nav-pills > li > a:focus, .nav-pills > li.active > a:focus  {
	border-radius: 0;
	background: none;
}

.nav-pills > li.active > a {
	background: none;
	border-radius: 0;
	border-bottom: 2px solid $ip-orange-color;
}

.display-hide{
	display:none;
}


.jumbotron, .navbar-ipcentrum  {
  background: #2d333f;
}

.icon-ipcentrum-logo{
	width:180px;
  	color:#fff;
	span{
  		position: absolute;
  		font-size: 36px;
	}
}

.icon-ip-centrum-1{
  color: $ip-orange-color;
}

.icon-ip-centrum-2{
  color: #fff;
}

.capitalize {
  display: inline-block;
  color:RGB(228, 228, 228);
}

.capitalize::first-letter {
  text-transform: uppercase;
}

.profileImageText{
  color: #2d333f;
}

.profileInfoText{
  color: #2d333f;
  margin-left:30px
}

hr{
  width: 90%
}

.btn-save{
  color:#ffffff;
  background-color:#fa9d1c;
  width: 80px
}

#profile-summary{
	margin: 0 0 50px;
	.profile-mid{
		@include border-radius(20px);
		width: 75px;
		height:75px;
		background: #262a35;
		float: left;
		margin: 0 20px 0 0;
	  	text-align: center;
		
	}	

	.profile-mid-right{
		float:left;
	  	margin-left:20px
	}
}

.profile-mid-right-text{
  font-size:20px;
  margin-top:6px;
  height:20px
}

div.container{
  margin-bottom:30px;
}

div.separator {
  float: left;
  width: 0;
  height: 60px;
  margin-top: 5px;
  border-right: 1px solid #262D38;
  box-shadow: 1px 0 0 0 #343B4A;
}

#email_addresses_form{
  border-color:#E6E6E6;
  border-width:2px;
  border-style:solid;
  background-color:#E8E8E8;
  padding: 20px
}

div.emails{
  margin-top:30px
}

div.emailNotify{
  background-color: rgb(38, 38, 38);
  height:40px;
  width:100%;
  font-size:15px;
}

